<%= form_for @passenger_info , :url => {:controller => 'backends/passenger_infos', action: :update},:html => {:class => "form-horizontal"} do |info|%>
<div class="form-group">
  <label class="col-lg-3 col-sm-3 control-label">姓名</label>
  <div class="col-lg-6">
    <input type="text" class="form-control" name="passenger_info[name]" value="<%= @passenger_info.name %>" />
  </div>
</div>
<div class="form-group">
  <label class="col-lg-3 col-sm-3 control-label">校系級</label>
  <div class="col-lg-6">
    <input type="text" class="form-control" name="passenger_info[major]" value="<%= @passenger_info.major %>" />
  </div>
</div>
<div class="form-group">
  <label class="col-lg-3 col-sm-3 control-label">Email</label>
  <div class="col-lg-6">
    <input type="text" class="form-control" name="passenger_info[email]" value="<%= @passenger_info.email %>" />
  </div>
</div>
<div class="form-group">
  <label class="col-lg-3 col-sm-3 control-label">Tags</label>
  <div class="col-lg-6">
    <select style="width: 100%;"  name="passenger_info[tag_id][]" class="chosen-select form-control" multiple tabindex="-1" id="tag_select">
      <% @tags.each do |tag|%>
        <option value="<%=tag['tag_id']%>" <%=contained(@selected_tags,tag['tag_id'])%> > <%=tag['tag_content']%> </option>
      <%end%>
    </select>
  </div>
</div>
<div class="form-group">
  <div class="col-lg-12">
    <button class="btn btn-block btn-danger">
      確認
    </button>
  </div>
</div>
<%end%>

<script>
  $(document).ready(function() {
    var select,chosen;
    // cache the select element as we'll be using it a few times
    select = $("#tag_select");
    // init the chosen plugin
    select.chosen();
    // get the chosen object
    // chosen = select.data('chosen');
    // Bind the keyup event to the search box input
    $('.search-field').on('keyup', function(e) {
    // chosen.dropdown.find('input').on('keyup', function(e) {
    // if we hit Enter and the results list is empty (no matches) add the option
      if (e.which == 13 && $('li.no-results').length > 0) {    
        $.ajax({
          method : 'post',
          url : '/backends/passenger_infos/auto_add_tag',
          data : {
               tag_name : $('.chosen-search-input').val(),
          },
          success : function(response) {
                var option = $("<option>").val(response.id).text(response.content);
            // add the new option  
                 select.prepend(option);
            // automatically select it  
                //select.find(option).prop('selected', true);  
            // trigger the update  
                   select.trigger("chosen:updated");
          }
        });
      }
    });  
  });
</script>