<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading">
      </header>
      <div class="table-responsive">
        <table class="table table-bordered table-advance table-hover text-center">
          <thead>
            <tr>
              <th class="text-center col-lg-1 col-md-1">PSGR_NO</th>
              <th class="text-center col-lg-2 col-md-2">姓名</th>
              <th class="text-center col-lg-2 col-md-2">校系級</th>
              <th class="text-center col-lg-1 col-md-1">Email</th>
              <th class="text-center col-lg-2 col-md-4">Tags</th>
              <th class="text-center col-lg-1 col-md-1"></th>
            </tr>
          </thead>
            <tbody>
              <% @passenger_infos.each do |passenger| %>
              <tr>
                <td class="text-center col-lg-1 col-md-1"><%= passenger['psgr_no'] %></td>
                <td class="text-center col-lg-2 col-md-2"><%= passenger['name'] %></td>
                <td class="text-center col-lg-2 col-md-2"><%= passenger['major'] %></td>
                <td class="text-center col-lg-1 col-md-1">
                  <p>
                    <a href="mailto:<%= passenger['email'] %>" target="_top"><i class="fa fa-envelope-o" style="font-size: 2em;"></i></a>
                  </p>
                </td>
                <td class="col-lg-4 col-md-4">
                  <%passenger['tags'].map do |tag| %>
                    <span class="label label-info col-md-3 col-lg-3" style="margin: .5%;word-break: normal;"><%=tag%></span>
                  <%end%>
                </td>
                <td class="col-lg-1 col-md-1">
                  <a href="<%= edit_backends_passenger_info_path(passenger['id'])%>" class="btn btn-block btn-sm btn-warning"><i class="fa fa-pencil"></i> </a>
                  <% if current_user.permission == "root" && !passenger['match_mail_sent']%>
                    <%= link_to match_page_backends_passenger_infos_path(id: passenger['id']),class: "btn btn-block btn-sm btn-success"  do %><i class="fa fa-envelope-o"></i><% end %>
                  <%elsif current_user.permission == "root" && passenger['match_mail_sent']%>
                    <%= link_to match_page_backends_passenger_infos_path(id: passenger['id']),class: "btn btn-block btn-sm btn-danger"  do %><i class="fa fa-envelope-o"></i><% end %>
                  <%end%>
                </td>
              </tr>
              <% end %>
            </tbody>
        </table>
      </div>
    </section>
  </div>
</div>

